In [ ]:
# Importing the necessary libraries

import pandas as pd
import numpy as np
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pickle

import warnings
warnings.filterwarnings ('ignore')

In [ ]:
# Loading the Mall_Customers dataset

df = pd.read_csv ('Training Dataset.csv')
df.head ()

,CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100),Cluster Labels
0,1,Male,19,15,39,2
1,2,Male,21,15,81,4
2,3,Female,20,16,6,2
3,4,Female,23,16,77,4
4,5,Female,31,17,40,2

In [ ]:
# Preprocessing data

df.isnull ().sum ()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
Cluster Labels            0
dtype: int64

In [ ]:
# Creating the training and testing data

X = df.iloc[:, [3, 4]].values
Y = df.iloc[:, 5].values

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [ ]:
# Fitting Logistic Regression to the Training set

reg = RandomForestClassifier ()
reg.fit(x_train, y_train)

RandomForestClassifier()

In [ ]:
# Predicting the Test set results

y_pred = reg.predict(x_test)

In [ ]:
print('\n Accuracy: {:.2f}\n'.format(accuracy_score(y_test, y_pred)))
print('\n Error Rate : {:.2f}\n'.format(1 - accuracy_score(y_test, y_pred)))

 Accuracy: 0.98


 Error Rate : 0.02

In [ ]:
# Downloading the supervised model

pickle_out = open ("reg.pkl", "wb")
pickle.dump (reg, pickle_out)
pickle_out.close ()

In [ ]:
reg.predict ([[15, 39]])

array([2])