In [83]:
# Importing the necessary libraries

import pandas as pd
import numpy as np
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pickle

import warnings
warnings.filterwarnings ('ignore')

In [84]:
# Loading the Mall_Customers dataset

df = pd.read_csv ('Training Dataset.csv')
df.head ()

   Annual Income (k$)  Spending Score (1-100)  Cluster Labels
0                  15                      39               4
1                  15                      81               2
2                  16                       6               4
3                  16                      77               2
4                  17                      40               4

In [85]:
# Preprocessing data

df.isnull ().sum ()

Annual Income (k$)        0
Spending Score (1-100)    0
Cluster Labels            0
dtype: int64

In [86]:
# Creating the training and testing data

X = df.iloc[:, [0, 1]].values
Y = df.iloc[:, 2].values

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [87]:
# Fitting Logistic Regression to the Training set

reg = RandomForestClassifier ()
reg.fit(x_train, y_train)

RandomForestClassifier()

In [88]:
# Predicting the Test set results

y_pred = reg.predict(x_test)

In [89]:
print('\n Accuracy: {:.2f}\n'.format(accuracy_score(y_test, y_pred)))
print('\n Error Rate : {:.2f}\n'.format(1 - accuracy_score(y_test, y_pred)))

 Accuracy: 1.00


 Error Rate : 0.00

In [92]:
# Downloading the supervised model

pickle_out = open ("reg.pkl", "wb")
pickle.dump (reg, pickle_out)
pickle_out.close ()

In [91]:
reg.predict ([[15, 39]])

array([4])